.cpu {
    --background: #000000;
    --textColour: #FFF;
    --titleColour: #FFF;
    --toggleColour: #2196f3;
    --toggleOffColour: #3c3c3c;
    --hrColour: #272727;

    --acceptButtonBg: #FFF;
    --acceptButtonText: #000;
    --acceptButtonBorder: #FFF;

    --rejectButtonBg: transparent;
    --rejectButtonText: #FFF;
    --rejectButtonBorder: #FFF;

    --preferencesButtonText: #FFF;
}

.cpu-open {
    overflow: hidden;
}

.cpu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999999;
}

.cpu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background);
    padding: 2em;
    width: 500px;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    overflow: hidden;
    border-radius: 10px;
    color: var(--textColour);
    box-sizing: border-box;
    box-shadow: var(--boxShadow);
    z-index: 9999999;
}

.cpu-overflow {
    overflow: auto;
}

.cpu-title {
    color: var(--titleColour);
    text-align: center;
}

.cpu-para {
    text-align: center;
}

.cpu h2,
.cpu h3 {
    margin: 0 0 0.75em;
}

.cpu h2 {
    font-size: 1.5em;
}

.cpu h3 {
    font-size: 1.125em;
}

.cpu p {
    line-height: 1.5;
    font-size: 0.9em;
}

.cpu hr {
    margin: 1.5em 0;
    border-top: 1px solid var(--hrColour);
}

.cpu-buttons {
    display: flex;
    flex-direction: column;
}

.cpu button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-size: 0.9em;
}

.cpu button.js-cookie-accept {
    color: var(--acceptButtonText);
    background: var(--acceptButtonBg);
    border: 1px solid var(--acceptButtonBorder);
}

.cpu button.js-cookie-reject {
    color: var(--rejectButtonText);
    background: var(--rejectButtonBg);
    border: 1px solid var(--rejectButtonBorder);
}

.cpu button.js-cookies-manage {
    display: flex;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--preferencesButtonText);
    color: var(--preferencesButtonText);
    padding: 0;
    margin: 8px auto 0;
}

.js-cookies-manage:after {
    content: "+";
    margin-left: 0.75em;
}

.js-cookies-manage.open:after {
    content: "-"
}

.cpu button.js-cookie-save {
    width: 100%;
    margin: 10px 0 0;
    color: var(--acceptButtonText);
    background: var(--acceptButtonBg);
    border: 1px solid var(--acceptButtonBorder);
}

.c-cat {
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: 500ms;
}

.c-cat.active {
    height: auto;
    max-height: 50em;
}

.c-cat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.c-cat-header h3 {
    margin-bottom: 0;
    margin-right: 0.5em;
}

.c-cat-toggle {
    margin-bottom: 0;
}

.c-cat-toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.c-cat-toggle input:checked + .toggle {
    background: var(--toggleColour);
    border-color: var(--toggleColour);
}

.c-cat-toggle input:checked + .toggle:before {
    transform: translateX(1.5em);
    background: white;
}

.c-cat-toggle .toggle {
    display: flex;
    border: 5px solid var(--toggleOffColour);
    width: 3.5em;
    height: 2em;
    background: var(--toggleOffColour);
    border-radius: 1.25em;
    box-sizing: border-box;
    transition: 300ms;
}

.c-cat-toggle .toggle:before {
    content: "";
    height: calc(2em - 10px);
    width: calc(2em - 10px);
    border-radius: 50%;
    background: white;
    transition: 300ms;
}

.pop-up-hidden {
    display: none;
}
